## Auto-MPG

![](https://factsanddetails.com/media/2/20111201-Molycorp%20REs-hev.png)

###The data is technical spec of cars, aiming to predict city fuel consumption
### (mile-per-gallon: MPG).

The features consist of
*   cylinders
*   displacement
*   horsepower
*   weight
*   acceleration
*   model year
*   original
*   car name

The output
mpg mile-per-gallon

[source] https://gist.githubusercontent.com/omarish/5687264/raw/7e5c814ce6ef33e25d5259c1fe79463c190800d9/mpg.csv

## ข้อ 1

In [8]:
import pandas as pd
url = "https://gist.githubusercontent.com/omarish/5687264/raw/7e5c814ce6ef33e25d5259c1fe79463c190800d9/mpg.csv"
df = pd.read_csv(url)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

## ข้อ 2

In [9]:
def clean_data(dataframe):
    dataframe['horsepower'] = pd.to_numeric(dataframe['horsepower'], errors='coerce')
    print(f"Amount of missing values before clean data: {dataframe.isnull().sum().sum()}")
    dataframe.dropna(inplace=True)
    print(f"Amount of missing values after clean data: {dataframe.isnull().sum().sum()}")

    return dataframe

df_cleaned= clean_data(df.copy()) 
print(df_cleaned.shape)

Amount of missing values before clean data: 6
Amount of missing values after clean data: 0
(392, 9)

## ข้อ 3

In [10]:
df_cleaned = df_cleaned.drop('name', axis=1)
print(df_cleaned.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year  origin
0          70       1
1          70       1
2          70       1
3          70       1
4          70       1

## ข้อ 4

In [11]:
from sklearn.model_selection import train_test_split

X = df_cleaned.drop('mpg', axis=1)
y = df_cleaned['mpg']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape)
print(X_test.shape)

(313, 7)
(79, 7)

## ข้อ 5

In [12]:
from sklearn.linear_model import LinearRegression

model_mpg = LinearRegression()
model_mpg.fit(X_train, y_train)

intercept = model_mpg.intercept_
coeffs = model_mpg.coef_
feature_names = X.columns

equation = f"mpg = {intercept:.2f}"
for name, coef in zip(feature_names, coeffs):
    equation += f" + ({coef:.3f} * {name})"

print(equation)

mpg = -18.50 + (-0.346 * cylinders) + (0.015 * displacement) + (-0.021 * horsepower) + (-0.006 * weight) + (0.038 * acceleration) + (0.768 * model_year) + (1.613 * origin)

## ข้อ 6

In [13]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

y_pred = model_mpg.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print(f"\nMean Squared Error (MSE) บน Test set: {mse:.2f}")
print(f"Mean Absolute Error (MAE) บน Test set: {mae:.2f}")

print("\nเหตุผลของความแตกต่าง:")
print("MAE คือค่าเฉลี่ยของผลต่างค่าจริงกับค่าทำนาย ซึ่งตีความง่ายและหน่วยเหมือนกับค่าที่ทำนาย")
print("MSE คือค่าเฉลี่ยของกำลังสองของผลต่าง ซึ่งจะลงโทษความผิดพลาดค่ามากๆ มากกว่าค่าผิดพลาดน้อยๆ ทำให้ไวต่อ outliers มากกว่า MAE")

Mean Squared Error (MSE) บน Test set: 10.71
Mean Absolute Error (MAE) บน Test set: 2.42

เหตุผลของความแตกต่าง:
MAE คือค่าเฉลี่ยของผลต่างค่าจริงกับค่าทำนาย ซึ่งตีความง่ายและหน่วยเหมือนกับค่าที่ทำนาย
MSE คือค่าเฉลี่ยของกำลังสองของผลต่าง ซึ่งจะลงโทษความผิดพลาดค่ามากๆ มากกว่าค่าผิดพลาดน้อยๆ ทำให้ไวต่อ outliers มากกว่า MAE

## ข้อ 7
### อับโหลดข้อมูลจ 'transactions.csv' จาก google classroom

In [14]:
import pandas as pd
import numpy as np

df = pd.read_csv("../Dataset/transactions.csv")
df

         Date    P1    P2    P3
0    1/1/2022   6.0  15.0  31.0
1    2/1/2022  19.0   0.0  30.0
2    3/1/2022  14.0  20.0   6.0
3    4/1/2022  10.0  21.0  17.0
4    5/1/2022   7.0  20.0  33.0
..        ...   ...   ...   ...
766       NaN   NaN   NaN   NaN
767       NaN   NaN   NaN   NaN
768       NaN   NaN   NaN   NaN
769       NaN   NaN   NaN   NaN
770       NaN   NaN   NaN   NaN

[771 rows x 4 columns]

## ข้อ 8

## ข้อ 9

## ข้อ 10

## ข้อ 11

## ข้อ 12

## ข้อ 13